
body{
    background: url("/img/carl-cerstrand-127444-unsplash.jpg")no-repeat center center 
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#grtng{
    font-size: 80px;
    color: darkturquoise;
    margin-top: 300px;
    margin-left: 120px;
}
#am{
    font-size: 18px;
    color: darkseagreen;
    margin-left: 80px;
    
}

/*body{
    background: url("/img/carl-cerstrand-127444-unsplash")no-repeat center center
    fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}*/
#fxd{
    margin-left: 420px;

}
#fxd:hover{
    color: red;
    transform: opacity 300ms  ease-in-out 1s;
    transform: skewY(-15deg);
    /*box-shadow: 0 60px 20px rgba(0,0,0,.1);*/
}
#fixd:hover{
 color: red;
    transform: opacity 300ms  ease-in-out 1s;
    transform: skewY(-15deg);   
}
/*#par{
    display: block;
}*/

/*#back{
    background-image: url("/img/unerstard.jpg")no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#imgsvg{
    width: 50vw;
    height: 30vh;
}
