
body{
/*    background-color: black;*/
    background: url("/img/background-img-b4-compressor%20(1).jpg")no-repeat center center 
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#icons{
    margin-top: 90px;
    margin-bottom: 40px;
    padding-right: 30px;
    color: white;
    margin-left: 100px;
    transform: rotate(-15deg);
    border-top: 10px solid darkturquoise;
    border-right: 10px solid darkturquoise;
    border-left: 10px solid darkturquoise;
    border-bottom: 10px solid darkturquoise;
    border-radius: 40px;
    animation-name: icns;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes icns{
    0%{ border-radius: 50% 50% 59% 50%;}
    25%{ border-radius: 50% 50% 50% 0;}
    50%{ border-radius: 50% 50% 0   0;}
    75%{ border-radius: 50% 0  0   0;}
    100%{ border-radius: 0  0   0   0;}
}
#grtng{
    font-size: 80px;
    color: darkturquoise;
/*    margin-left: 80px;*/
}
#abt{
    font-size: 50px;
    color: black;
    margin-left: 300px;
    margin-top: 100px;
    font-family: 'Shadows Into Light', cursive;
font-family: 'Lobster Two', cursive;
}
#abot{
    background-color: gainsboro;
}
#cv{
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 100px;
    margin-left: 20px;
}
#am{
    font-size: 18px;
    color: darkseagreen;
    margin-left: 80px;
    
}

/*body{
    background: url("/img/carl-cerstrand-127444-unsplash")no-repeat center center
    fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}*/
#fxd{
    margin-left: 820px;
    color: turquoise;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;

}
#cont{
    margin-left: 500px;
}
#cntct{
    margin-top: 20px;
}
#fixd{
    color: darkturquoise;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    
}
li{
     text-decoration: none;
    list-style-type: none;
}
#fxd:hover{
    color: black;
    transform: opacity 300ms  ease-in-out 1s;
    transform: skewY(-15deg);
    /*box-shadow: 0 60px 20px rgba(0,0,0,.1);*/
}
#fixd:hover{
 color: black;
    transform: opacity 300ms  ease-in-out 1s;
    transform: skewY(-15deg);   
    border-color: aqua;
}
#first{
    margin-top: 40px;
}
#second{
    margin-top: 50px;
    margin-bottom: 50px;
}
#img {
    opacity: 0.7;
    filter: alpha(opacity=50); 
}

#img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
    transform: skewy(-6deg);
}
/*
.content{
    display: grid;
    max-width: 970px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,minmax(200px,auto));
    grid-gap: 10px;
    margin-top: 50px;
    
}
*/
/*.content div{*/
/*
    background: url( /img/travel.jpg)no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
}
/*.content div:nth-child(even){*/
/*    background: blue;*/
/*
    background-image: url(/img/clark-street-mercantile-33931-unsplash.jpg)no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
}
/*#two{*/
/*    grid-row: 2/4;*/
/*
   background: url(/img/store-compressor.jpg)no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
*/
/*#par{
    display: block;
}*/

/*#back{
    background-image: url("/img/unerstard.jpg")no-repeat center center
        fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#imgsvg{
    width: 50vw;
    height: 30vh;
}
